<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Hub</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5BCG0C99EP"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5BCG0C99EP');
  </script>
</head>

<body>
  <!-- NavBar -->
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
        <li class="nav-item"><a href="/support" class="nav-link">Support</a></li>
      </ul>
      <div class="col-md-3 text-end">
        <a href="/contribute">
          <button type="button" class="btn btn-primary">Contribute</button>
        </a>
      </div>
    </header>
  </div>

  <section id="title" class="header-background">
    <div class="px-4 pt-4 pb-4 my-0 text-center">
        <img class="d-block mx-auto mb-0 py-0" src="./images/Contribute.png" alt="Support Logo" height="150">
      </div>
    </div>
  </section>


<!-- Main Content -->
 <!-- Contribute Products -->


 <div class="container marketing my-4 text-center">
  <div class="col-md-12 my-3">
    <h3 class="featurette-heading fw-normal lh-1 pb-3">Please fill in the form below to add your product to our Hub.</h3>
    <!-- <p class="lead">Please fill in the form below to add your product to our Hub.</p>-->
  </div>
  
  <h5>Product Details</h5>

  <div class="container col-xs-12 col-sm-6 col-md-12 text-center">
    <form class="needs-validation" novalidate="" action="/submit" method="post">
      <div class="row g-3">
        <div class="col-sm-12 col-xs-12 mt-3">
          <label for="firstName" class="form-label">Product Name:</label>
          <input type="text" class="form-control" id="firstName" name="productName" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid product name is required.
  </div>

        <div class="col-sm-12 mt-3">
          <label for="productDescription" class="form-label">Product Description:</label>
          <input type="text" class="form-control" id="productDescription" name="productDescription" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid description is required.
          </div>
        </div>

<br />
      <h5>Contact Details</h5>

        <div class="col-12 mt-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" name="emailAddress" placeholder="you@gov.com">
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>

        <div class="col-12 mt-3">
          <label for="phoneNumber" class="form-label">Phone Number <span class="text-body-secondary">(Optional)</span></label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="+65 91234567">
          <div class="invalid-feedback">
            Please enter a valid phone number.
          </div>
        </div>


      <hr class="my-4">

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="PDPA">
        <label class="form-check-label" for="PDPA">PDPA</label>
      </div>

      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="">Submit</button>

    </form>
  </div>
</div>
</div>
</div>

  
   <!-- Footer -->
   <section id="footer">

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img src="./images/Brand-logo-small2.png" alt="brand-logo-small" width="30" height="24" class="bi">
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 AI Hub
          </span>          
        </div>

        <ul class="nav col-md-7 justify-content-end list-unstyled d-flex">
          <li class="ms-8">
            <a class="text-body-secondary" href="https://www.smartnation.gov.sg/">
              <img src="./images/smart-nation-logo.png" alt="Smart Nation Website" style="width:30" height="35">
            </a>
          <li class="ms-4">
            <a class="text-body-secondary" href="https://www.linkedin.com/company/smartnationsg/mycompany/">
            <img src="./images/LinkedIn.png" alt="LinkedIn Website" style="width:30" height="20">
          </a>
        </ul>

        <br />
        

    
        

        <div class="disclaimer col-md-12 mt-3" style="text-align:justify;">
          Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
        </div>

      </footer>
    </div>

  </section>
  <script src="contribute.js"></script>
</body>

</html>