<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Hub</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5BCG0C99EP"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-5BCG0C99EP');
    </script>
</head>

<body>
    <!-- NavBar -->
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
          <li class="nav-item"><a href="/events" class="nav-link active">Events</a></li>
          <li class="nav-item"><a href="/support" class="nav-link">Support</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <a href="/contribute">
            <button type="button" class="btn btn-primary">Contribute</button>
          </a>
        </div>
        
      </header>
    </div>

  <section id="title" class="header-background">
    <div class="px-4 pt-4 pb-4 my-0 text-center">
        <img class="d-block mx-auto mb-0 py-0" src="./images/Events.png" alt="Events Logo" height="150">
      </div>
    </div>
  </section>


<!-- Main Content -->
 <!-- Highlights of Govt AI Products & Platform  -->
  
 <div class="container marketing my-4 text-center">
  <div class="col-md-12">
    <h3 class="featurette-heading fw-normal lh-1">Upcoming Events</h3>
    <p class="lead mt-2 mb-4">Join our community!</p>
  </div>

  <div class="row mb-2 align-items-start">
    <div class="col-md-6 mx-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-start">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">AI Wednesdays</strong>
          <h3 class="mb-3 eventTitle">The One About AI Hacking and Building with LangChain</h3>
          <div class="mb-3 text-body-secondary">29 May 2024, 1pm - 5pm
            <br/>
            MCI #01-06
          </div>
          <p class="card-text mb-auto" style="text-align:justify;">Dive deep into the world of LangChain and quick prototypes at our upcoming AI Wednesdays on 29 May 2024! Join us for a day of co-working and learning, where you can engage in rich discussions, exchange practical insights, and strengthen your network within the AI Community in WOG. 
            <br/>
            Hear from community members,  as they share their experiences, strategies, and practical insights on using LangChain in various AI projects. This is a unique chance to learn from your peers, ask questions, and discover new ways to leverage LangChain in your own work.
            <br/>
            <br />
            Note: The sharing session only starts at 3.00pm but feel free to come earlier and stay beyond the sharing session to co-work with others in the AI Community. Join your peers to share strategies, tackle AI challenges, and build partnerships for AI in WOG. </p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto mt-5">
          <img src="./images/AI Wednesdays.png" alt="AI Wednesdays" class="bd-placeholder-img" width="100" height="100">
        </div>
      </div>
    </div>
    <div class="col-md-5 mx-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-start">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">AI Wednesdays</strong>
          <h3 class="mb-3 eventTitle">The One About Analytics.Gov</h3>
          <div class="mb-3 text-body-secondary">5 Jun 2024, 1pm - 5pm
            <br/>
           Venue TBC</div>
          <p class="mb-auto">To be updated.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto mt-5">
          <img src="./images/AI Wednesdays.png" alt="AI Wednesdays" class="bd-placeholder-img" width="100" height="100">
        </div>
      </div>
    </div>
  </div>
  
</div>
  

  
   <!-- Footer -->
  <section id="footer">

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-1 border-top">
        <div class="col-md-5 col-5 d-flex align-items-center">
          <a href="/" class="mb-2 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img src="./images/Brand-logo-small2.png" alt="brand-logo-small" width="30" height="24" class="bi">
          </a>
          <span class="mb-2 mb-md-0 text-body-secondary">© 2024 AI Hub
          </span>          
        </div>

        <ul class="nav col-md-7 col-7 justify-content-end list-unstyled d-flex">
          <li class="ms-8 mb-1">
            <a class="text-body-secondary" href="https://www.smartnation.gov.sg/">
              <img src="./images/smart-nation-logo.png" alt="Smart Nation Website" style="width:30" height="35">
            </a>
          <li class="ms-3 mt-1">
            <a class="text-body-secondary" href="https://www.linkedin.com/company/smartnationsg/mycompany/">
            <img src="./images/LinkedIn.png" alt="LinkedIn Website" style="width:30" height="20">
          </a>
        </ul>

        <br />

        <div class="disclaimer col-md-12 mt-1" style="text-align:justify;">
          Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
        </div>

      </footer>
    </div>

  </section>
</body>

</html>