<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Hub</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5BCG0C99EP"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-5BCG0C99EP');
    </script>
</head>

<body>
    <!-- NavBar -->
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/products" class="nav-link active">Products</a></li>
          <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/support" class="nav-link">Support</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <a href="/contribute">
            <button type="button" class="btn btn-primary">Contribute</button>
          </a>
        </div>
        
      </header>
    </div>

  <section id="title" class="header-background">
    <div class="px-4 pt-4 pb-4 my-0 text-center">
        <img class="d-block mx-auto mb-0 py-0" src="./images/Products-logo.png" alt="Products Logo" height="150">
      </div>
    </div>
  </section>


<!-- Main Content -->
 <!-- Highlights of Govt AI Products & Platform  -->
  
 <div class="container marketing my-4 text-center">
  <div class="col-md-12">
    <h3 class="featurette-heading fw-normal lh-1">Popular AI Products and Platform</h3>
    <p class="lead">Tools to improve your productivity at work.</p>
  </div>
</div>

<section id="Highlights">
  <div class="container marketing my-5 text-center">

    <div class="row">
      <div class="col-lg-4 col-sm-4 col-4">
          <img src="./images/AIBots-brand-logo.png" class="d-block mx-lg-auto img-fluid" alt="AIBots Brand Icon" width="100" height="100" loading="lazy">
     </div>
          <div class="col-lg-4 col-sm-4 col-4">
          <img src="./images/pair-logo-1.png" class="d-block mx-lg-auto img-fluid" alt="Pair Brand Icon" width="100" height="100" loading="lazy">
      </div>
      <div class="col-lg-4 col-sm-4 col-4">
        <img src="./images/Transcribe2.png" class="d-block mx-lg-auto img-fluid" alt="Transcribe Brand Icon" width="100" height="100" loading="lazy">
      </div>
    </div>

      <div class="row">
        <div class="col-lg-4 mb-5 col-sm-4 col-4">
          <h3 class="fw-normal">AIBots</h3>
          <p>Build your own chatbot in 15 minutes.</p>
          <p><a class="btn btn-secondary" href="/aibotsproductpage">Learn More »</a></p>
        </div>
        <div class="col-lg-4 mb-5 col-sm-4 col-4">
        <h3 class="fw-normal">Pair Chat</h3>
        <p>Your ChatGPT-equivalent tool.</p>
        <p><a class="btn btn-secondary" href="/pairchatproductpage">Learn More »</a></p>
        </div>  
        <div class="col-lg-4 mb-5 col-sm-4 col-4">
          <h3 class="fw-normal">Transcribe</h3>
          <p>Record and summarise your meeting minutes.</p>
          <p><a class="btn btn-secondary" href="#">Learn More »</a></p>
        </div>
      

      <div class="row">
        <div class="col-lg-4 mt-1 col-sm-4 col-4">
          <img src="./images/LaunchPad2.png" class="d-block mx-lg-auto img-fluid" alt="LaunchPad Brand Icon" width="130" height="130" loading="lazy">
        </div>
        <div class="col-lg-4 mt-5 col-sm-4 col-4">
              <img src="./images/readLiao.png" class="d-block mx-lg-auto img-fluid" alt="ReadLiao Brand Icon" width="150" height="150" loading="lazy">
        </div>
        <div class="col-lg-4 mt-5 col-sm-4 col-4">
          <img src="./images/SmartCompose.png" class="d-block mx-lg-auto img-fluid" alt="SmartCompose Brand Icon" width="250" height="250" loading="lazy">
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-4">
          <h3 class="fw-normal pt-3">LaunchPad</h3>
          <p>Share your ideas.</p>
          <p><a class="btn btn-secondary" href="/aibotsproductpage">Learn More »</a></p>
        </div>

        <div class="col-lg-4 col-sm-4 col-4">
        <h3 class="fw-normal pt-3">ReadLiao</h3>
        <p>Convert complicated letters to simplified ones.</p>
        <p><a class="btn btn-secondary" href="#">Learn More »</a></p>
        </div>  

        <div class="col-lg-4 col-sm-4 col-4">
          <h3 class="fw-normal pt-3">SmartCompose</h3>
          <p>Draft customer service replies in 5 minutes.</p>
          <p><a class="btn btn-secondary" href="/smartcomposeproductpage">Learn More »</a></p>
        </div>
      </div>

    </section>


  
   <!-- Footer -->
   <section id="footer">

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img src="./images/Brand-logo-small2.png" alt="brand-logo-small" width="30" height="24" class="bi">
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 AI Hub
          </span>          
        </div>

        <ul class="nav col-md-7 justify-content-end list-unstyled d-flex">
          <li class="ms-8">
            <a class="text-body-secondary" href="https://www.smartnation.gov.sg/">
              <img src="./images/smart-nation-logo.png" alt="Smart Nation Website" style="width:30" height="35">
            </a>
          <li class="ms-4">
            <a class="text-body-secondary" href="https://www.linkedin.com/company/smartnationsg/mycompany/">
            <img src="./images/LinkedIn.png" alt="LinkedIn Website" style="width:30" height="20">
          </a>
        </ul>

        <br />
        

    
        

        <div class="disclaimer col-md-12 mt-3" style="text-align:justify;">
          Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
        </div>

      </footer>
    </div>

  </section>
</body>

</html>